<% include ./../header %>

        <!-- Inicio do corpo -->
        <div id="page-wrapper">
                    
            <div class="row padding-panel">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dados da matrícula</div>                            
                            <h6><strong>Instituição:</strong> <%- dadosMatricula[0].ies %> </h6>
                            <h6><strong>Período letivo:</strong> <%- dadosMatricula[0].perletivo %> </h5>
                            <h6><strong>Curso:</strong> <%- dadosMatricula[0].curso %> </h6>                   
                            <h6><strong>Situação da matrícula:</strong> <%- dadosMatricula[0].situacao %> </h6>    
                    </div>
                </div>                
            </div>

                <dl class="accordion">
                  <dt class="accordion__title">Títulos a receber</dt>
                  <dd class="accordion__content">
                 <!-- /.panel -->
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" style="font-size: 12px !important">
                                            <thead>                                                   
                                                <tr>
                                                    <th>Referência</th>
                                                    <th>Dt. emissão</th>
                                                    <th>Dt. vencimento</th>   
                                                    <th>N°. parcela</th>   
                                                    <th>Valor (R$)</th>   
                                                    <th>Emitir 2°. via</th>   
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% faturados.forEach(function(faturado) { %>
                                                <tr>
                                                    <td><%- faturado.descricao %></td>
                                                    <td><%- faturado.dataemissao %></td>
                                                    <td><%- faturado.datavencimento %></td>
                                                    <td><%- faturado.numparcela %></td>
                                                    <td><%- faturado.valortotal %></td>
                                                    <td>Indisponível</td>
                                                </tr>
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>                                

                            </div>
                            <!-- Fim do corpo -->
                          </dd>
                          <dt class="accordion__title">Títulos recebidos</dt>
                          <dd class="accordion__content">
                            <!-- /.panel -->
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped" style="font-size: 12px !important">
                                                    <thead>                                                   
                                                        <tr>
                                                            <th>Referência</th>
                                                            <th>Dt. emissão</th>
                                                            <th>Dt. vencimento</th>   
                                                            <th>N°. parcela</th>   
                                                            <th>Valor (R$)</th>   
                                                            <th>Emitir 2°. via</th>   
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% liquidados.forEach(function(liquidado) { %>
                                                        <tr>
                                                            <td><%- liquidado.descricao %></td>
                                                            <td><%- liquidado.dataemissao %></td>
                                                            <td><%- liquidado.datavencimento %></td>
                                                            <td><%- liquidado.numparcela %></td>
                                                            <td><%- liquidado.valortotal %></td>
                                                            <td>Indisponível</td>
                                                        </tr>
                                                        <% }) %>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>                                
                                  </dd>
                            </dl>
                    </div>
            </div>
        </div>
    </div>
    <!-- Fim do corpo -->
    
<% include ./../footer %>