<% include ./../header %>

        <!-- Inicio do corpo -->
        <div id="page-wrapper">
                    
            <div class="row padding-panel">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dados da matrícula</div>                            
                            <h6><strong>Instituição:</strong> <%- dadosMatricula[0].ies %> </h6>
                            <h6><strong>Período letivo:</strong> <%- dadosMatricula[0].perletivo %> </h5>
                            <h6><strong>Curso:</strong> <%- dadosMatricula[0].curso %> </h6>                   
                            <h6><strong>Situação da matrícula:</strong> <%- dadosMatricula[0].situacao %> </h6>    
                    </div>
                </div>                
            </div>

                   <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-calendar fa-fw"></i><span class="hidden-xs">Calendário de provas</span>                          
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" style="font-size: 12px !important">
                                            <thead>    
                                                <tr>
                                                    <th>Disciplina</th>
                                                    <th width="20%"><center>Avaliação</center></th>
                                                    <th width="30%">Conteúdo</th>
                                                    <th><center>Data</center></th>   
                                                    <th><center>Horário</center></th>   
                                                    <th><center>Peso</center></th>   
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% avaliacoes.forEach(function(avaliacao) { %>
                                                <tr>
                                                    <td><%- avaliacao.disciplina %></td>
                                                    <td><center><%- avaliacao.descricao %></center></td>
                                                    <td><%- avaliacao.conteudo %></td>
                                                    <td><center><%- avaliacao.dataavaliacao %></center></td>
                                                    <td><center><%- avaliacao.horario %></center></td>
                                                    <td><center><%- avaliacao.peso %><center></td>
                                                </tr>
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>                                
                </div>
            </div>
        </div>
    </div>
    <!-- Fim do corpo -->
    
<% include ./../footer %>